.scrollbar {
     margin-left: 30px;
     float: left;
     height: 300px;
     width: 65px;
     background: #fff;
     overflow-y: scroll;
     margin-bottom: 25px;
}
.force-overflow {
     min-height: 450px;
}

body::-webkit-scrollbar {
     width: 12px;
     background-color: #f44336!important;
}

body::-webkit-scrollbar-thumb {
     border-radius: 0;
     -webkit-box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.8);
     background-color: #f44336!important;
}

.minheight {
     height: calc(80vh - 50px);
}

.md-form input[type=date]:focus:not([readonly]),.md-form input[type=datetime-local]:focus:not([readonly]),.md-form input[type=email]:focus:not([readonly]),.md-form input[type=number]:focus:not([readonly]),.md-form input[type=password]:focus:not([readonly]),.md-form input[type=search-md]:focus:not([readonly]),.md-form input[type=search]:focus:not([readonly]),.md-form input[type=tel]:focus:not([readonly]),.md-form input[type=text]:focus:not([readonly]),.md-form input[type=time]:focus:not([readonly]),.md-form input[type=url]:focus:not([readonly]),.md-form textarea.md-textarea:focus:not([readonly]) {
     box-shadow: 0 1px 0 0 #dc3545!important;
     border-bottom: 1px solid #dc3545!important;
}

.md-form input[type=date]:focus:not([readonly])+label,.md-form input[type=datetime-local]:focus:not([readonly])+label,.md-form input[type=email]:focus:not([readonly])+label,.md-form input[type=number]:focus:not([readonly])+label,.md-form input[type=password]:focus:not([readonly])+label,.md-form input[type=search-md]:focus:not([readonly])+label,.md-form input[type=search]:focus:not([readonly])+label,.md-form input[type=tel]:focus:not([readonly])+label,.md-form input[type=text]:focus:not([readonly])+label,.md-form input[type=time]:focus:not([readonly])+label,.md-form input[type=url]:focus:not([readonly])+label,.md-form textarea.md-textarea:focus:not([readonly])+label {
     color: #dc3545 !important;
}
.md-form .prefix.active {
     color: #dc3545 !important;
}

.checkbox-danger [type="checkbox"]:checked+label:before {
     border-color: transparent #dc3545 #dc3545 transparent;
}

pre {
     color: #fff;
}

.h-auto {
     height: 100% !important;
}

main.sideNav {
     padding-left: 240px;
}

@media(max-width: 1000px) {
     main.sideNav {
         padding-left: 0;
    }
}
